
.latest-builds-header {
    padding-top: 40px;
}

.statusDiv {
    height: 1.6rem;
    margin: 0 auto;
    width: 100px;
    border-radius: 15rem;
    color: white;
    background-color: grey;
}

.statusDiv.error {
    background-color: #c93a26;
}

.statusDiv.success {
    background-color: #0c8a11;
}

.statusDiv.running {
    margin: 0 auto;
}